<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.ent.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.ent.servlets.teacher.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.ent.servlets.misc.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.ent.servlets.misc.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherGroupsServlet</display-name>
    <servlet-name>TeacherGroupsServlet</servlet-name>
    <servlet-class>com.ent.servlets.teacher.TeacherGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherGroupsServlet</servlet-name>
    <url-pattern>/TeacherGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherGroupServlet</display-name>
    <servlet-name>TeacherGroupServlet</servlet-name>
    <servlet-class>com.ent.servlets.teacher.TeacherGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherGroupServlet</servlet-name>
    <url-pattern>/TeacherGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupServlet</display-name>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupSubjectServlet</display-name>
    <servlet-name>GroupSubjectServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.GroupSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupSubjectServlet</servlet-name>
    <url-pattern>/GroupSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataTeacherGroupServlet</display-name>
    <servlet-name>DataTeacherGroupServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.teacher.DataTeacherGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTeacherGroupServlet</servlet-name>
    <url-pattern>/DataTeacherGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherGroupEditServlet</display-name>
    <servlet-name>TeacherGroupEditServlet</servlet-name>
    <servlet-class>com.ent.servlets.teacher.TeacherGroupEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherGroupEditServlet</servlet-name>
    <url-pattern>/TeacherGroupEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.ent.servlets.admin.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStudentsServlet</display-name>
    <servlet-name>AdminStudentsServlet</servlet-name>
    <servlet-class>com.ent.servlets.admin.AdminStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentsServlet</servlet-name>
    <url-pattern>/AdminStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataAdminStudentServlet</display-name>
    <servlet-name>DataAdminStudentServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataAdminStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAdminStudentServlet</servlet-name>
    <url-pattern>/DataAdminStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServletAdmin</display-name>
    <servlet-name>CourseServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.admin.CourseServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServletAdmin</servlet-name>
    <url-pattern>/CourseServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataAdminCourseServlet</display-name>
    <servlet-name>DataAdminCourseServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataAdminCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAdminCourseServlet</servlet-name>
    <url-pattern>/DataAdminCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollmentServletAdmin</display-name>
    <servlet-name>EnrollmentServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.admin.EnrollmentServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentServletAdmin</servlet-name>
    <url-pattern>/EnrollmentServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataEnrollmentServletAdmin</display-name>
    <servlet-name>DataEnrollmentServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataEnrollmentServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataEnrollmentServletAdmin</servlet-name>
    <url-pattern>/DataEnrollmentServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupServletAdmin</display-name>
    <servlet-name>GroupServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.admin.GroupServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServletAdmin</servlet-name>
    <url-pattern>/GroupServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataGroupServletAdmin</display-name>
    <servlet-name>DataGroupServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataGroupServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGroupServletAdmin</servlet-name>
    <url-pattern>/DataGroupServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAdminServlet</display-name>
    <servlet-name>SubjectAdminServlet</servlet-name>
    <servlet-class>com.ent.servlets.admin.SubjectAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAdminServlet</servlet-name>
    <url-pattern>/SubjectAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSubjectServletAdmin</display-name>
    <servlet-name>DataSubjectServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataSubjectServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSubjectServletAdmin</servlet-name>
    <url-pattern>/DataSubjectServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServletAdmin</display-name>
    <servlet-name>TeacherServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.admin.TeacherServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServletAdmin</servlet-name>
    <url-pattern>/TeacherServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataTeacherServletAdmin</display-name>
    <servlet-name>DataTeacherServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataTeacherServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataTeacherServletAdmin</servlet-name>
    <url-pattern>/DataTeacherServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataGroupSubjectServletAdmin</display-name>
    <servlet-name>DataGroupSubjectServletAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataGroupSubjectServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGroupSubjectServletAdmin</servlet-name>
    <url-pattern>/DataGroupSubjectServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataGroupStudentAdmin</display-name>
    <servlet-name>DataGroupStudentAdmin</servlet-name>
    <servlet-class>com.ent.servlets.resources.admin.DataGroupStudentAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGroupStudentAdmin</servlet-name>
    <url-pattern>/DataGroupStudentAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>com.ent.servlets.misc.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>com.ent.servlets.misc.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentHomeServlet</display-name>
    <servlet-name>StudentHomeServlet</servlet-name>
    <servlet-class>com.ent.servlets.student.StudentHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHomeServlet</servlet-name>
    <url-pattern>/StudentHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataStudentGradeServlet</display-name>
    <servlet-name>DataStudentGradeServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.student.DataStudentGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataStudentGradeServlet</servlet-name>
    <url-pattern>/DataStudentGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.ent.servlets.misc.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataStudentReviewServlet</display-name>
    <servlet-name>DataStudentReviewServlet</servlet-name>
    <servlet-class>com.ent.servlets.resources.student.DataStudentReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataStudentReviewServlet</servlet-name>
    <url-pattern>/DataStudentReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>